# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. C++
5. Javascript

Some of the commonly used libraries used by Data Scientists include:
1. scikit-learn
2. matplotlib
3. numpy
4. pandas

| __Data Science Tools__ |
|------------------------|
| VS Code |
| RStudio |
| Google Collab |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python
- a+b
- a-b
- a*b
- a/b

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
   Yogita