# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. C++
5. Javascript

Some of the commonly used libraries used by Data Scientists include:
1. Python
2. R
3. Scala
4. C++
5. Visual Basic

| __Data Science Tools__ |
|------------------------|
| Anaconda |
| RStudio |
| Spyder |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python
- a+b
- a-b
- a*b
- a/b

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [1]:
# This will convert 200 minutes to hours by diving by 60
200//60

3

__Objectives:__
- Add comments to code cells
- Create markdown cells
- Add ordered and unordered lists to markdown cells
- Format content of markdown cells with heading styles

## Author(s)
   Yogita Kanyal